insert into odpp.events 
select 
'EOM'        as eventTrigger
,d.key       as dealID
,d.key       as eventObject
,null        as amount
,d.bdate
,d.branch
  from odpp_dict.clndr_bdate t
  join odpp.deal_tmp2 d on d.bdate = t.bdate and d.branch = t.branch
where 1=1
  and t.bdate = '${bdate}'
  and t.branch = '${branch}'
  and t.eom
;
